.detailsContainer {
  width: 30%;
  height: 100vh;
  // backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.197);
  -webkit-backdrop-filter: blur(301xpx);
  backdrop-filter: blur(30px);
  color: rgba(240, 248, 255, 0.344);

  & ul {
    border-bottom: 1px solid rgba(240, 248, 255, 0.344);
    padding-bottom: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  & p {
    color: white;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  pointer-events: none;
}

.recentCity {
  cursor: pointer;
  pointer-events: all;

  &:hover {
    color: aliceblue;
  }
}
